# macOS
.DS_Store

# Xcode
Handy/Handy.xcodeproj/xcuserdata/
Handy/Handy.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcscmblueprint
DerivedData/

# Build artifacts
build/
dist/
Handy/1/
Handy/build_dmg/

# Secrets
.env

# Distribution
Handy.dmg
